#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

.buttonMenu {
    background: transparent!important;
}

ion-toolbar {
    --background: #313131;
}

ion-content {
    --background: #a0a0a0;
}

.bottom-add {
    margin-bottom: 2em;
}

.colorInterface {
    --background: #640505;
    margin-bottom: 2em;
    --background-activated: #771111;
    --background-hover: #6d0c0c;
}

.colorInterface:hover {
    --background: #640505;
    --background-activated: #771111;
    --background-hover: #6d0c0c;
}