<app-menu></app-menu>
<ion-header no-border [translucent]="true" class="animated fadeInDown">

    <ion-toolbar>
        <ion-button color="none" class="buttonMenu" mode=ios slot="start" (click)="toggleMenu()">
            <ion-icon slot="icon-only" name="menu">
            </ion-icon>
        </ion-button>
        <!--  <ion-button class="buttonMenu">
            <ion-menu-button lines='none' slot="icon-only" menu="first">
            </ion-menu-button>
        </ion-button>-->
        <ion-title>
            G E A <i class="fas fa-map-marker-alt"></i>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-fab color="danger" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button class="colorInterface">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <app-map></app-map>
</ion-content>