.avatar {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 3em;
    margin-bottom: .3em;
    height: 8em;
    width: 8em;
}

ion-menu {
    --ion-background-color: #313131;
    --ion-text-color: var(--ion-color-primary-contrast);
    ion-toolbar {
        --background: #313131;
    }
    ion-list {
        /* optional, but it needs when you use gradient as a background color.*/
        --ion-background-color: transparent !important;
    }
}

.colorInterface {
    --background: #640505;
    margin-bottom: 2em;
    --background-activated: #771111;
    --background-hover: #6d0c0c;
}

.colorInterface:hover {
    --background: #640505;
    --background-activated: #771111;
    --background-hover: #6d0c0c;
}